@import '../../scss/colors';
@import '../../scss/fonts';

#history-viewer {
    display: flex;
    flex-direction : row;
    align-items: stretch;    
    padding-top : 40px;
    padding-bottom : 40px;
    app-timeline {
        width : 10%;
    }
}

#laceparent {
    position: relative;
    width : 100%;
    height : 0px;
    top : 0px;
    padding: 0px;
    margin : 0px;
    #lace1 {
        position : absolute;
        height : 208px;
        width : 58px;
        top : -56px;
        right : -80px;
        background : url(/assets/images/lacet1.png);
        background-size: 58px 208px;
        background-repeat: no-repeat;
    }
}

section {
    z-index : 10;
}

 @media screen and (max-width: 800px) {
     #laceparent {
         display : none;
     }
 }