<div class="contact" [class.header]="mode == 'header'" [class.footer]="mode == 'footer'">
    <div class="buttons">
        <div class="icon"><a class="icon-social-twitter" href="https://twitter.com/BorjaEFernandez" target="_blank"></a></div>
        <div class="icon"><a class="icon-social-skype" click="skype()" href="skype:littleboris?chat"></a></div>
        <div class="icon"><a class="icon-social-linkedin" href="https://www.linkedin.com/in/bofernandez" target="_blank"></a></div>
        <div class="icon"><a class="icon-telephone" href="tel:+41793752667"></a></div>
    </div>
</div>