$white : #ffffff;
$orange:#e67e22;


.contact {
    position: absolute;
    top : 150px;
    right : 50px;
}
.buttons {
    display:flex;
    flex-direction: column;
}
.icon {
    margin-bottom:10px;
    font-size: 60px;
    color : $white;
    border : solid 3px transparent;
}

.icon:hover {
    cursor:pointer;
    color:$orange;
    font-size : 66px;
    border : 0;
}