@import '../../scss/colors';
@import '../../scss/fonts';

#rates {
    p {
        &.title {
            font-size: 1.6em;
            text-align: center;
            padding-top : 40px;
            padding-bottom : 20px;
            text-transform: uppercase;
        }
    }
}

.rate-line {
    display : flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top : 40px;
    margin-bottom : 40px;
    app-ratebox {
        padding-left: 20px;
        padding-right: 20px;
        width : 100%;
    }
    
}

/deep/ section:nth-child(1) {
    > .rate-line{
        flex-basis : 33%;
        > app-ratebox {
            > .rating-box {
                > .bottom {
                    > ul {
                            min-height : 300px !important;
                        }
                }
            }    
        }
    }
}

.rate-line:nth-child(2) {
    flex-basis : 50%;
}


 

@media screen and (max-width: 800px) {
     .rate-line {
         flex-wrap:wrap;
         app-ratebox {
             padding-bottom : 40px;
         }
     }
}