<h1>RATES</h1>
<section>
    <p>Here is a price list based on some classic cases. Please note that the following are generic / best-case scenarios. For additional information, if you have some more specific input please contact me. </p>
    <p>Also keep in mind that time and material plans apply only for projects > than 20 man days.</p>
    <p>Other restrictions may apply given the type of project / environment.</p>
</section>
<div id="rates">
    <section>
        <p class="title">Time and material plans</p>
        <div class="rate-line">
            <app-ratebox [rate]="_remotingRate">
            </app-ratebox>
            <app-ratebox [rate]="_onsiteRate">
            </app-ratebox>
        </div>
    </section>
    <section>
        <p class="title">Fixed price plans</p>
        <div class="rate-line">
            <app-ratebox [rate]="_simpleWebsite">
            </app-ratebox>
            <app-ratebox [rate]="_advancedWebsite">
            </app-ratebox>
            <app-ratebox [rate]="_proWebsite">
            </app-ratebox>
        </div>
    </section>
</div>
<p>Please note that above prices above are all pre-tax.</p>
