@import '../../scss/colors';
@import '../../scss/fonts';
$lighten-grey : lighten($light-grey, 20%);
$darken-grey : darken($light-grey, 20%);

section {
    * {
        text-align : center;
    }
}

form[name = "contact-form"] {
    display:flex;
    flex-direction: column;
    width : 100%;
    margin-top : 40px;
    margin-bottom : 40px;
    text-align:center;
    * {
        font-family: $base-thin-font-family;
        border-radius: 5px;
        width : 80%;
        margin-top : 10px !important;
        margin-bottom : 10px !important;
        margin-left: auto;
        margin-right : auto;
        border : 1px solid transparent;
        background-color : $lighten-grey !important;
        color : $dark-blue !important;
        font-size : 1.0em;
        padding : 5px;
        padding-top : 10px;
        padding-bottom : 10px;
        outline: none;
        
            &::-webkit-input-placeholder {
                color: $darken-grey;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: $darken-grey;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: $darken-grey;
            }

            &:-ms-input-placeholder {  
                color: $darken-grey;
            }
        &:focus {
            border : 1px  solid $darken-grey;
        }
        &.error {
            border : 1px solid $red-dingue;
        }

    }
    input {
        &[type = "submit"] {
            font-size: 1.5em;
            height : 4.0em;
            background-color : $dark-blue !important;
            color : $white !important;
            width : 60% !important;
            cursor : pointer;
            margin-top : 40px !important;
            margin-bottom : 40p !important;
            &:hover {
                background-color : $light-blue !important;
                color : $white !important;
            }
            &:disabled {
                background-color : $darken-grey  !important;
                color :  $lighten-grey !important;
                cursor : none;
            }
        }
    }
    textarea {
        height : 400px;
        resize : none;
    }

    .message-sent {
        background-color : $light-grey !important;
        font-size : 2.0em;
    }

    .send-error {
        background-color : $light-grey !important;
        color : $red-dingue !important;
        font-size : 2.0em;
    }

}
