<h1>COMPANIES</h1>

<section>
<p>These are some of the companies I've worked for until now. As you can see they cover a pretty good range of industries.</p>
<p>The truth is I spent most of my career working for banks. But I also have notable experience in other fields :</p>
<ul>
    <li>Banking / Fund Management (LODH &amp; Cie, Pictet &amp; Cie, Capital Group)</li>
    <li>FinTech / Payment (iKentoo, Zong) </li>
    <li>Telco (Orange, Adeya) </li>
    <li>Insurance (TCS)</li>
    <li>Consulting (Cross, revault)</li>
    <li>NGOs (ILO)</li>
</ul>
<p>You can click on the logos to open a new tab with corresponding company website.</p>
</section>
<div class="marqueecontainer">
    <div class="logopanel" #logoPanel>
        <app-companylogo [name]="name" [highlight]="_highlightIndex[i]" *ngFor="let name of names; let i= index"></app-companylogo>
    </div>
</div>
<section>
<p>
    In case of any doubt, do not hesitate to request me for references. I'll be happy to provide you with any required information.   
</p>
</section>
