@import '../../scss/colors';
@import '../../scss/fonts';

.skillviewer {
  padding-top : 40px;
  padding-bottom: 40px;
  > .presets {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    > span {
      width: 30%;
    }
    > select {
      margin-bottom : 20px;
      height : 40px;
      width: 45%;
      color : $dark-blue;
          font-family:$lato-font ;
          font-weight: 300;
      font-size : 0.9em;
      border : none;
      border-radius: 2px;
    }
  }
  > .controls {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      text-align: center;
      > span:nth-child(1) {
        width : 30%;
        padding : 0px;
        margin : 0px;
      }
      > .knob {
        width : 15%;
        display : flex;
        flex-direction: column;
        > span {
          text-align:center;
          font-family:$lato-font ;
          font-weight: 300;
          font-size : 0.8em;
        }
      }
      > span:nth-child(5) {
        display: flex;
        align-items: stretch;
        flex-direction : column-reverse;
        flex:auto;
        > div {
          text-align:center;
          font-family:$lato-font ;
          font-weight: 300;
          font-size : 0.8em;
        }
      }
  }
}

 @media screen and (max-width: 850px) {
   .skillviewer {
     .controls {
       .knob {
         span {
           font-size : 0.6em;
         }
       }
       span:nth-child(5) {
         div {
           font-size : 0.6em;
         }
       }
     }
   }
 }