<h1>SKILLS</h1>
<section>
<p>Skills are the tools you need to make your projects come true. By themselves they are just that ... simple tools. Sometimes temptation is too great to make them become the center of our world. But we should never forget that these tools are there for one sole reason : <b>creating value</b>. </p>
<p>We should always choose the right tools for the job. With that said it's far from being an easy task but we should never forget that we're also responsible for the tools we choose to use.</p>
<p>With that in mind, here's another component that uses the same datasource as before to list my skills given some criteria. (note that the results are limited to 20 rows)</p>
</section>
<div class="skillviewer" (window:resize)="resetKnobs($event)">
    <div class="presets">
        <span></span>
        <select (change)="presetSelected($event)" [(ngModel)]="_selectedPreset" placeholder="Select a preset">
            <option *ngFor="let item of _presets" disabled="{{item.id == -1 ? 'disabled' : ''}}" [ngValue]="item">{{item.name}}</option>
        </select>
    </div>
    <div class="controls">
        <span>&nbsp;</span>
        <div class="knob">
            <ui-knob [(value)]="skillCriteria.weeksDone" [options]="weeksDoneKnobOptions" (valueChange)="valueChange($event)"></ui-knob>
            <span>total weeks spent</span>
        </div>
        <div class="knob">
            <ui-knob [(value)]="skillCriteria.nbOfProjects" [options]="nbOfProjectsKnobOptions" (valueChange)="valueChange($event)"></ui-knob>
            <span>projects</span>
        </div>
        <div class="knob">
            <ui-knob [(value)]="skillCriteria.linkedInScore" [options]="linkedInScoreKnobOptions" (valueChange)="valueChange($event)"></ui-knob>
            <span>linkedIn score</span>
        </div>
        <span><div>last used</div></span>
    </div>
    <app-skilllist [skills]="skills"></app-skilllist>
</div>
<section>
<p>As you can see Java takes the lead! There's a good reason for that. This language has been around for a while and combined with Spring it is still today highly relevant. There's also a relatively high demand nowadays (early 2017) especially in the banking industry. </p>
<p>However, I've been working a lot with front-end technologies for the past 5 years, first with plain old JavaScript and HTML, then came JQuery and the power it brought to the masses and then things became a lot more serious with NodeJS, Angular, React and TypeScript. I think there's a massive revolution going on and that these new JS stacks are here to stay !</p>
</section>


