<div class="rating-box" [ngClass]="{'selected' : isSelected}">
    <div class="top">
        <div class="title">{{rate.name}}</div>
        <div class="startingat" i18n>starting at^à partir de</div>
        <div class="price">
            <span class="currency">CHF</span>
            <span class="value">{{rate.price != 0 ? rate.price : '???'}}</span>
            <span class="period">{{getRatePeriod()}}</span>
        </div>
        <div class="good-for">{{rate.goodFor}}</div>
        <div class="star"></div>
    </div>
    <div class="bottom">
        <ul>
            <li *ngFor="let package of rate.packageList">
                {{package}}
            </li>
        </ul>
        <button class="selectplan" (click)="selectPlan()" i18n>select plan^choisir plan</button>
    </div>
</div>