/deep/ .logo-strip {
    position:absolute;
    left : 100%;
    top : 0px;
    padding:0px;
    display : flex;
    flex-direction : row;
    transition: left 40s linear;
    -moz-transition: left 40s linear; /* Firefox 4 */
    -webkit-transition: left 40s linear; /* Safari and Chrome */
    -o-transition: left 40s linear; /* Opera */
    -ms-transition: left 40s linear; /* Explorer 10 */
    &.scroll {
        left : -200%;
    }
}