@import '../../../scss/colors';
@import '../../../scss/fonts';


.intro, .fullname {
    text-align: center;
}

.intro {
    color : #ffffff;
    margin-bottom : 40px;
    font-family : $paragraph-font-family;
    font-size : 1.2em;

    &.smaller {
        font-size : 1.0em;
    }

}

.fullname {
    font-size: 55px;
    color: $orange;
    font-family : $full-name-font-family !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

