<ul>
    <li *ngFor="let skill of skills; trackBy:skillTrackByFn">
        <div>
            <div>{{skill.name}}</div>
            <div><span>{{skill.weeksDone}}</span></div>
            <div><span>{{skill.nbOfProjects}}</span></div>
            <div><span>{{skill.linkedInScore}}</span></div>
            <div>{{getInUse(skill)}}</div>
        </div>
    </li>
</ul>
<div class="nocontent" [hidden]="skills.length > 0" i18n>Sorry. There's no content to be displayed.^Désolé. Il n'y a pas de contenu à afficher.</div>
