

@import '../../../scss/colors';



.menu-container.header {
    height:28px;
    background-color : $dark-blue;
    border-top: solid 1px $darker-blue;


    .menu {
        position:absolute;
        right:0px;
        display: flex;
        flex-direction: row;
        padding-right:40px;

        .menu-item {
            margin-right : 20px;
            color:$white;
            padding-right: 5px;
            padding-left : 5px;
        }

        .menu-item:hover {
            bottom : 100%;
            cursor:pointer;
            background-color : $red-dingue;
            height : 60px;
            display: table-cell;
        }

    }


}

.menu-container.footer {
    .menu {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top : 40px;
        .menu-item {
            flex:row;
            padding-left : 10px;
            padding-right : 10px;
            cursor:pointer;
        }
    }    
}

@media screen and (max-width: 600px) {
    .menu-container.footer {
        font-size : 0.8em;
    }
}