<div class="menu-container" [class.header]="mode === 'header'" [class.footer]="mode === 'footer'">
    <div class="menu">
        <div class="menu-item" data-destination="app-ataglance" [i18n]>at a glance^pour résumer</div>
        <div class="menu-item" data-destination="app-history" [i18n]>history^historique</div>
        <div class="menu-item" data-destination="app-skills" [i18n]>skills^compétences</div>
        <div class="menu-item" data-destination="app-companies" [i18n]>companies^sociétés</div>
        <div class="menu-item" data-destination="app-rates" [i18n]>rates^tarifs</div>
        <div class="menu-item" data-destination="app-contactform">contact</div>
    </div>
</div>