$dark-blue:#34495e;
$darker-blue:#2d4052;

$light-blue:#3a73bf;
$orange:#e67e22;
$orange-light:lighten($orange, 20%);
$light-grey:#e6e9ed;
$red-dingue:#c0392b;
$white:#ffffff;
$sun-flower:#f1c40f;
$black:#000000;
$border-grey: #bfbfbf;
