$dark-blue:#34495e;
$light-blue:#3a73bf;
$orange:#e67e22;
$light-grey:#e6e9ed;
$red-dingue:#c0392b;
$white:#ffffff;
$sun-flower:#f1c40f;
$black:#000000;
$border-grey: #bfbfbf;
$violence: #8e44ad;
$violence-light : #9b59b6;
