@font-face {
  font-family: 'Baloo Paaji';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Baloo-Paaji.woff2') format('woff2'), 
       url('/assets/fonts/Baloo-Paaji.woff') format('woff'); 
}


@font-face {
  font-family: 'Lato Thin';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/Lato-Thin.woff2') format('woff2'), 
       url('/assets/fonts/Lato-Thin.woff') format('woff'); 
}

@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/Lato-Regular.woff2') format('woff2'), 
       url('/assets/fonts/Lato-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Lato Heavy';
  font-style: bold;
  font-weight: bolder;
  src: url('/assets/fonts/Lato-Heavy.woff2') format('woff2'), 
       url('/assets/fonts/Lato-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Metrize Icons';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/metrize-icons.woff2') format('woff2'), 
       url('/assets/fonts/metrize-icons.woff') format('woff');
}

$full-name-font-family: Baloo Paaji, sans-serif;

$base-title-2-family : Lato Heavy, sans-serif;

$base-main-title-font-family : Lato Thin, sans-serif;

$paragraph-font-family : Lato Regular, sans-serif;

$icon-font-family : Metrize Icons, sans-serif;
