
@import 'colors';
@import 'fonts';


*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height : 100%;
    body {
        font-family: $paragraph-font-family;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin : 0px;
        letter-spacing: 1px;
        line-height: 150%;
    }    
}


h1, h2, h3, h4 {
    font-family: $base-main-title-font-family !important ; 
}

.icon {
    font-family: $icon-font-family !important;
}

.section {
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top:40px;
}

.section-w-padding {
    box-sizing: border-box;
    padding-left:10%;
    padding-right:10%;
    padding-bottom : 100px;
    @extend .section;
}

.paragraph {
    font-size:0.9em;
    padding-top:20px;
    padding-bottom:10px;
    text-align:justify;
}



app-header {
    background-color:$dark-blue;
    @extend .section;
}


app-ataglance {
    background-color:$light-grey;
    @extend .section-w-padding;

    h1 {
        text-align: left;
        color : $orange;
    }
}

app-history {
    h1 {
        text-align : right;
        color : $red-dingue;
    }
    @extend .section-w-padding;
}

app-skills {
    background-color:$light-grey;
    h1 {
        color : $orange;
        text-align : left;
    }
    @extend .section-w-padding;
}


app-companies {
    background-color:$light-blue;
    color: $light-grey;
    h1 {
        color : $white;
        text-align : left;
    }
    @extend .section-w-padding;
}




app-rates {
    background-color:$light-grey;
    color : $black;
    h1 {
        text-align : center;
        color : $violence;
    }
    @extend .section-w-padding;
}


app-contactform {
    background-color:$violence;
    color: $light-grey;
    h1 {
        color : $white;
        text-align : left;
    }
    @extend .section-w-padding;
}


app-footer {
    background-color:$dark-blue;
    color: $white;
    @extend .section;
}
