
@import 'colors';
@import 'fonts';


*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height : 100%;
    overflow-y: scroll;
    body {
        font-family: $lato-font;
        font-weight: 300;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: subpixel-antialiased;
        margin : 0px;
        padding : 0px;
        letter-spacing: 5%;
        height : 100%;
//        min-width : 400px;
        width : 100%;
//        line-height: 150%;
    }    
}


h1, h2, h3, h4 {
    font-family: $lato-font!important ; 
    font-weight : 300;
}

.icon {
    > a {
        font-family: $icon-font-family !important;
        text-rendering: auto !important;
        text-shadow: 0 0 0 0 !important;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width:100%;
}

.hidden {
    display : none;
}

section {
    padding-top : 40px;
    padding-bottom : 60px;
    b {
        font-family: $lato-font ;
        font-weight : 700;
    }
}




.section-w-padding {
    box-sizing: border-box;
    padding-left:10%;
    padding-right:10%;
    padding-bottom : 100px;
    h1 {
        padding-top:40px;
        padding-bottom : 40px;
    }
    @extend .section;
}

p {
    font-size:1.3em;
    padding-top:20px;
    padding-bottom:20px;
    text-align:justify;
    letter-spacing: 5%;
    line-height: 150%;
}



app-header {
    padding : 0px;
    margin : 0px;
    width : 100%;
}






app-ataglance {
    background-color:$light-grey;
    @extend .section-w-padding;
    color : $dark-blue;

    h1 {
        text-align: center;
        color : $dark-blue;
    }
}

app-history {
    h1 {
        text-align : center;
        color : $red-dingue;
    }
    @extend .section-w-padding;
}

app-skills {
    background-color:$light-grey;
    h1 {
        color : $light-blue;
        text-align : center;
    }
    @extend .section-w-padding;
}


app-companies {
    background-color:$light-blue;
    color: $light-grey;
    h1 {
        color : $white;
        text-align : center;
    }
    @extend .section-w-padding;
}




app-rates {
    background-color:$white;
    color : $dark-blue;
    h1 {
        text-align : center;
        color : $light-blue;
    }
    @extend .section-w-padding;
}


app-contactform {
    background-color:$light-grey;
    color: $dark-blue;
    h1 {
        color : $light-blue;
        text-align : center;
    }
    @extend .section-w-padding;
}


app-footer {
    background-color:$dark-blue;
    color: $white;
    @extend .section;
}


 @media screen and (max-width: 480px) {
     p {
        font-size:1.0em;
         
     }
 }