<div>
    <div>
        <div class="description">
            <h2>Description</h2>
            <ul>
                <li *ngFor="let item of project.description; let i = index;">
                   {{item}}
                </li>
            </ul>
        </div>
    </div>
    <div>

        <div>
            <h2>Period</h2>
            <div>
            from {{project.estimatedStart.toLocaleDateString()}} to {{project.estimatedEnd.toLocaleDateString()}}
            </div>
        </div>
        
        <div>
            <h2>Roles</h2>
            <ul>
                <li>
                    {{project.roles.join(", ")}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h2>Technical skills</h2>
            <ul class="skills">
                <li [ngClass]="{'odd' : i % 2 == 0}" *ngFor="let skill of project.techSkills let i = index;">
                    {{skill}}
                </li>
            </ul>
        </div>
        <div>
            <h2>Business skills</h2>
            <ul class="skills">
                <li [ngClass]="{'odd' : i % 2 == 0}" *ngFor="let skill of project.businessSkills let i = index;">
                    {{skill}}
                </li>
            </ul>
        </div>
    </div>
</div>